.contenedor-search{
    width: 500px;
    height: 500px;
    border: 1px solid rgb(98, 0, 255);
    margin-left: 37%;
    margin-top: 7%;
}

.texto-buscado p{
    font-size: 2.5em;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.resultados{
    margin-left: 10px;
    font-size: 2em;
    margin-top: 60px;
}

.centrado{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}  


