.resultados{
    margin:  100px 100px;
    margin-bottom: 300px;

}
.resultados ul{
    list-style: none;
    width: 100%;
    height: 100%;
}

.resultados ul li p{ 
    overflow: hidden;
}
.resultados ul li img{
    float: left;
    margin-right: 20%;
    margin-left: 10%;
    width: 25%;
}
.top-5{
    float: right;
}

.lista-detalles p{
    color: white;
}

.lista-detalles p.title{
    font-size: xx-large;
}
