 body{
    overflow-x: hidden;
 }
 
 
 .menu ul{
    list-style: none;
    margin:0;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul li a{
    color: white;
    display: block;
    padding: 22px;
    padding-right: 40px;
    text-decoration:none;
    font-weight: bold;
}

input{
    width: 50%;
    display: block;
    margin: 22px 10px 10px 10px;
}
        
.search-barra{
    float: left;
}
.barra{
    border-radius: 50px;
    width: 80%;
}
.container-generos{
    width: 100%;
    overflow: hidden;
    margin: 10px;
}
.generos{
    width: 100%;
}
.generos li{
    list-style: none;
    float: left;
    padding: 10px;
} 

.generos li :hover{
    background-color: indigo;
}
.generos li a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    background-image: url(../Images/pexels-photo-1323712.jpeg);
    display: inline-block;
    padding: 10% 20px;
    margin: 5%;
    text-align: center;
    width: 200px;
}


