 .menu ul{
    list-style: none;
    margin:0;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul li a{
    color: white;
    display: block;
    padding: 22px;
    padding-right: 40px;
    text-decoration:none;
    font-weight: bold;
}

input{
    width: 50%;
    display: block;
    margin: 22px 10px 10px 10px;
}
        
.search-barra{
    float: left;
}
.barra{
    border-radius: 50px;
    width: 80%;
}
.container-generos{
    width: 100%;
    overflow: hidden;
    margin: 10px;
}
.generos{
    width: 100%;
}
.generos li{
    list-style: none;
    float: left;
    padding: 10px;
} 

.generos li :hover{
    background-color: indigo;
}
.generos li a{
    color: white;
    text-decoration: none;
    background: #7f8c8d;
    display: inline-block;
    padding: 10% 20px;
    margin: 5%;
    text-align: center;
    width: 200px;
}

<<<<<<< HEAD
=======
footer {
     align-self: flex-end;
     line-height: 3;
     width: 100%;
     overflow: hidden;
  }
.deezer{
    width: 200px;
    height: 100px;
}
.nombres{
    float: right;
    color: white;
}
>>>>>>> 111f38e60e821f814105ed2c1b9821731feb6829
