body{
    background-image: url(https://www.androidsis.com/wp-content/uploads/2019/06/Fondos-pantalla-oscuros-2.jpg);
    background-size: 100%;
    padding: 0px;
    font-family: Arial;
    min-height: 100vh;
    font-family: 'Didact Gothic', sans-serif;
    flex-wrap: wrap;
}
.menu{
    background-color: black;
    border-bottom: gray 1px groove;
    margin-bottom: 23px;
}
.fotologo{
    width: 190px;
    height: 60px;
    display: block;
    margin-left: initial;
    margin-right: auto;
    padding-left: 20px;
}
        
.menu ul{
    list-style: none;
    margin:0;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul li a{
    color: white;
    display: block;
    padding: 22px;
    padding-right: 40px;
    text-decoration:none;
    font-weight: bold;
}

input{
    width: 50%;
    display: block;
    margin: 22px 10px 10px 10px;
}
        
.search-barra{
    float: left;
}

.barra{
    border-radius: 50px;
    width: 80%;
}


.contenido-footer {
    align-self: flex-end;
    line-height: 1;
    width: 100%;
    overflow: hidden;
    border-top: gray 1px groove;
    margin-top: 50px;
    background-color:black;
    
}
.deezer{
   width: 200px;
   height: 100px;
   margin-top: 5px;

}
.nombres{
   float: right;
   color: white;
   padding-right: 30px;
   padding-bottom: 30px;
   margin-top: 3%;
}

.social-bar img{
    height: 30px;
    border-radius: 10px;
}
.social-bar{
    float: right;
    margin-top: 3%;
}