.uk-slider-items li{
    text-align: center;
    padding-bottom: 50px;
    
    
}
.uk-slider-items li h4{
    color: grey; 
    
}
.uk-slider-items li h6{
    color: grey;
    
}

.albumes img{
    padding-right: 30px;
    margin-left: 115px;
}
.fotos{
    width: 20%;
    margin-right: 5%;
}
.titulo{
    color: white;
    margin-left: 10px;
    color: #fff;
    text-align: center;  
}

.nombres{
    color: white;
    float: right;
    margin-top: 50px;
}
.todattops h1{
    text-align: center;
    color: white;
    font-size: 5em;
    font-weight: bold;
    margin-top: 100px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(109, 109, 109), 0 0 20px rgb(109, 109, 109), 0 0 20px #51009c, 0 0 20px #51009c, 0 0 20px #51009c, 0 0 20px #51009c, 0 0 20px #51009c;
    }
    to {
      text-shadow: 0 0 20px rgb(109, 109, 109), 0 0 20px #51009c, 0 0 20px #51009c, 0 0 20px#51009c, 0 0 20px#51009c, 0 0 20px#51009c, 0 0 20px #51009c;
    }
  }

.segundo-contenedor{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    overflow: hidden;
    margin-top: 40px;
}
.tracks{
    background-size: 300px;
    width: 30%;
    float: left;
    border: 1px solid white;
    height: 100%;
    margin-right: 5%;
    border-radius: 5%;
    background-color: black;
    
    
}
.tracks h1{
    text-align: center;
}
.artistas{
    width: 30%;
    float: left;
    height: 100%;
    border: 1px solid white;
    border-radius: 5%;
    background-color: black;
    
}
.artistas h1{
    text-align: center;
}
.artistas ul li{
    color: white;
}
.tracks ul li{
    color: white;
}
.tracks ul{
    list-style-type: decimal;
    margin-left: 10px;
    padding-left: 20px;
    
}
.artistas ul{
    list-style-type: decimal;
    margin-left: 10px;
    padding-left: 20px;
}
.tracks ul li a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.tracks ul li a:hover{
    color: indigo;
}
.artistas ul li a{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.artistas ul li a:hover{
    color:indigo;
}
.artistas-ul li a img{
    overflow: hidden;
}
.artistas-ul li a img p{
    float: right
}
.albumes{
    width: 30%;
    float: right;
    border: 1px solid white;
    height: 100%;
    border-radius: 5%;
    background-color: black;
}
.albumes h1{
    text-align: center;
}
.albumes ul{
    list-style-type: decimal;
    margin-left: 10px;
    padding-left: 20px;
}
.albumes ul li a{
    color: white;
    text-decoration: none;
    
}
.albumes ul li a:hover{
    color: indigo;
}

