body{
    background-image: url(https://www.androidsis.com/wp-content/uploads/2019/06/Fondos-pantalla-oscuros-2.jpg);
    background-size: 100%;
    padding: 0px;
    font-family: Arial;
    min-height: 100vh;
    font-family: 'Didact Gothic', sans-serif;
    flex-wrap: wrap;
}
.menu{
    background-color: black;
    border-bottom: gray 1px groove;
}


.fotologo{
    width: 190px;
    height: 60px;
    display: block;
    margin-left: initial;
    margin-right: auto;
    padding-left: 20px;
}
        
.menu ul{
    list-style: none;
    margin:0;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul li a{
    color: white;
    display: block;
    padding: 22px;
    padding-right: 40px;
    text-decoration:none;
    font-weight: bold;
}

.menu ul li a:hover{
background: black;
}

input{
    width: 50%;
    display: block;
    margin: 22px 10px 10px 10px
}
        
.search-barra{
    float: left;
}

.barra{
    border-radius: 50px;
    width: 80%;
}
.footer{
    line-height: 3;
    text-align: center;
    width: 100%;
}
.deezer{
    width: 200px;
    height: 100px;
}

.album{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
}
.tracks{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
}
.artistas{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
}

.contenedor{
    padding-right: 100px;
    padding-left: 100px;
    
}
.fotos{
    margin-right: 56px;
}
.fotos:last-child{
    margin-right: 0;
}
.titulo{
    color: white;
}
.nombres{
    color: white;
    float: right;
    margin-top: 50px;
}
.segundo-contenedor{
    padding-right: 100px;
    padding-left: 100px;
    overflow: hidden;
}
.tracks-2{
    width: 500px;
    float: left;
    border: 1px solid white;
    height: 200px;
}
.artistas-2{
    width: 500px;
    float: left;
    border: 1px solid white;
    height: 200px;
}
.artistas-2 ul li{
    color: red;
}
