body{
    background-image: url(https://www.androidsis.com/wp-content/uploads/2019/06/Fondos-pantalla-oscuros-2.jpg);
    background-size: 100%;
    padding: 0px;
    font-family: Arial;
    min-height: 100vh;
    font-family: 'Didact Gothic', sans-serif;
    flex-wrap: wrap;
}
.menu{
    background-color: black;
    border-bottom: gray 1px groove;
}
.fotologo{
    width: 190px;
    height: 60px;
    display: block;
    margin-left: initial;
    margin-right: auto;
    padding-left: 20px;
}
        
.menu ul{
    list-style: none;
    margin:0;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul li a{
    color: white;
    display: block;
    padding: 22px;
    padding-right: 40px;
    text-decoration:none;
    font-weight: bold;
}

input{
    width: 50%;
    display: block;
    margin: 22px 10px 10px 10px;
}
        
.search-barra{
    float: left;
}

.barra{
    border-radius: 50px;
    width: 80%;
}

.albumes img{
    padding-right: 30px;
    margin-left: 115px;
}
.fotos{
    width: 20%;
    margin-right: 5%;
}
.titulo{
    color: white;
    margin-left: 10px;
}
.nombres{
    color: white;
    float: right;
    margin-top: 50px;
}
.segundo-contenedor{
    padding-right: 50px;
    padding-left: 50px;
    overflow: hidden;
    margin-top: 20px;
}
.tracks{
    width: 30%;
    float: left;
    border: 1px solid white;
    height: 250px;
    margin-right: 5%;
}
.artistas{
    width: 30%;
    float: left;
    border: 1px solid white;
    height: 250px;
}
.artistas ul li{
    color: white;
}
.tracks ul li{
    color: white;
}
.tracks ul{
    list-style: none;
    margin-left: 10px;
    padding-left: 0;
}
.artistas ul{
    list-style: none;
    padding-left: 0;
    margin-left: 10px;
}
.tracks ul li a{
    text-decoration: none;
    color: white;
}
.tracks ul li a:hover{
    color: red;
}
.artistas ul li a{
    color: white;
    text-decoration: none;
}
.artistas ul li a:hover{
    color: red;
}
.albumes{
    width: 30%;
    float: right;
    border: 1px solid white;
    height: 250px;
}
.albumes ul{
    list-style: none;
    padding-left: 0;
    margin-left: 10px;
}
.albumes ul li a{
    color: white;
    text-decoration: none
}
.albumes ul li a:hover{
    color: red;
}
.footer{
    display: block;
    bottom: 0;
    position: absolute;
}
.deezer{
    width: 200px;
    height: 100px;
}