body{
    background-image: url(https://www.androidsis.com/wp-content/uploads/2019/06/Fondos-pantalla-oscuros-2.jpg);
    background-size: 100%;
    padding: 0px;
    font-family: Arial;
    min-height: 100vh;
    }
.menu{
    background-color: black;
}
        
.menu ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.menu ul li a{
    color: white;
    display: block;
    padding: 22px;
    padding-right: 40px;
    text-decoration:none;
}

.menu ul li a:hover{
background: black;
}

input{
    width: 50%;
    display: block;
    margin: 18px 10px 10px 10px
}
        
.search-barra{
    float: left;
}
.barra{
    border-radius: 50px;
    width: 80%;
}
